# IDE
.idea/
.vscode/
*.iml

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
coverage/

# OS
.DS_Store
Thumbs.db

# Node
backend/node_modules/
backend/.env 

# Database
backend/data/

# Code dumps
mock.sh

# SQLite database
backend/data/*.db